<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.oceanstar.demo.dao.mapper.DepartmentMapper">

    <!-- 使用自增主键，生成的主键id将自动封装进 keyProperty指定的Bean字段  -->
    <insert id="insertDept" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.example.oceanstar.demo.bean.Department">
        insert into department (department_name) values (#{departmentName})
    </insert>

    <insert id="batchInsertDept" useGeneratedKeys="true" keyProperty="id">
        insert into department (department_name) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.departmentName})
        </foreach>
    </insert>

    <!-- 传入参数为Map，foreach标签的collection属性值为传入map的key，该key的value值为一个list -->
    <insert id="batchInsertDeptWithMap">
        insert into department (department_name) values
        <foreach collection="depts" item="item" index="index" separator=",">
            (#{item.departmentName})
        </foreach>
    </insert>

    <update id="batchUpdateDept">
        <foreach collection="list" item="item" index="index" separator=";">
            update department
            <set>
                department_name=#{item.departmentName}
            </set>
            <where>
                id=#{item.id}
            </where>
        </foreach>
    </update>
    <!--  注意事项：update配合foreach使用，必须完善数据库连接配置：在原有基础上追加配置项 allowMultiQueries=true，详细配置如下：
           spring.datasource.url=jdbc:mysql://localhost:3306/mybatis?useUnicode=true&characterEncoding=utf-8&allowMultiQueries=true
      -->


    <!-- 传入参数为Map，foreach标签的collection属性值为传入map的key，该key的value值为一个list -->
    <update id="batchUpdateDeptWithMap">
        <foreach collection="depts" item="item" index="index" separator=";">
            update department
            <set>
                department_name=#{item.departmentName}
            </set>
            <where>
                id=#{item.id}
            </where>
        </foreach>
    </update>
    <!--  注意事项：update配合foreach使用，必须完善数据库连接配置：在原有基础上追加配置项 allowMultiQueries=true，详细配置如下：
          spring.datasource.url=jdbc:mysql://localhost:3306/mybatis?useUnicode=true&characterEncoding=utf-8&allowMultiQueries=true
     -->

    <select id="getDeptById" resultType="com.example.oceanstar.demo.bean.Department">
        select * from department where id = #{id}
    </select>

    <select id="getDeptEmpByIdM1" resultMap="getDeptEmpById1">
        select d.id id,d.department_name department_name,
        e.id e_id,e.name e_name,e.email e_email,e.gender e_gender,e.d_id e_d_id
        from department d left join employee e on d.id = e.d_id where d.id = #{id}
    </select>

    <select id="getDeptEmpByIdM2" resultMap="getDeptEmpById2">
        select * from department where id = #{id}
    </select>

    <select id="listDeptByIds" resultType="com.example.oceanstar.demo.bean.Department">
        select * from department where id in
        <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
            <!--        <foreach collection="collection" item="item" index="index" open="(" separator="," close=")">-->
            #{item}
        </foreach>
    </select>
    <!--  Caused by: org.apache.ibatis.binding.BindingException: Parameter 'ids' not found. Available parameters are [collection, list]
          注意事项： <Collection collection="">  collection属性允许的value为 [collection, list] ，必须是这两个value值，否则将报错！
     -->

    <!-- 传入参数为Map，foreach标签的collection属性值为传入map的key，该key的value值为一个list -->
    <select id="listDeptByIdsWithMap" resultType="com.example.oceanstar.demo.bean.Department">
        select * from department where id in
        <foreach collection="deptIds" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <resultMap id="getDeptEmpById1" type="com.example.oceanstar.demo.bean.Department">
        <id property="id" column="id"/>
        <result property="departmentName" column="department_name"/>
        <collection property="employees" ofType="com.example.oceanstar.demo.bean.Employee" columnPrefix="e_">
            <id property="id" column="id"/>
            <result property="name" column="name"/>
            <result property="email" column="email"/>
            <result property="gender" column="gender"/>
            <result property="dId" column="d_id"/>
        </collection>
    </resultMap>

    <resultMap id="getDeptEmpById2" type="com.example.oceanstar.demo.bean.Department">
        <id property="id" column="id"/>
        <result property="departmentName" column="department_name"/>
        <collection property="employees"
                    select="com.example.oceanstar.demo.dao.mapper.EmployeeMapper.getEmpByDeptId"
                    column="id"/>
    </resultMap>

</mapper>